.concert-schedule-page {
    padding: 20px;
    padding-top: 150px;
    text-align: center;
}

.concert-schedule-page h1 {
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #000000;
}

.add-concert-button {
    padding: 15px 30px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #B90000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    z-index: 1;
}

.add-concert-button:hover {
    background-color: #8C0101;
}

.concerts-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}

.concert-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.concert-card.clickable:hover {
    background-color: #f9f9f9;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.concert-card h3 {
    margin-top: 0;
    color: #B90000;
}

.concert-card p {
    margin: 10px 0;
}

.concert-card .edit-button,
.concert-card .delete-button {
    background-color: #B90000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.concert-card .edit-button:hover,
.concert-card .delete-button:hover {
    background-color: #8C0101;
}

.concert-card .edit-button {
    margin-right: 10px;
}

.concert-card .link-info {
    font-style: italic;
    color: #B90000;
}

.concert-card .delete-button {
    margin-left: 10px;
}
.concert-card:not(.not-clickable):hover {
    background-color: #f9f9f9;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}