.concert-schedule-page {
    padding: 20px;
    padding-top: 150px;
    text-align: center;
}

.concert-schedule-page h1 {
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #000000;
}

.concerts-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}

.concert-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    cursor: pointer;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.concert-card:hover {
    background-color: #f9f9f9;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.concert-card h3 {
    margin-top: 0;
    color: #B90000;
}

.concert-card p {
    margin: 10px 0;
}
.non-clickable {
    pointer-events: none;
}

.concert-card:not(.non-clickable):hover {
    background-color: #f9f9f9;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}