.rehearsal-schedule-page {
    padding: 20px;
    padding-top: 150px;
    text-align: center;
}

.rehearsal-schedule-page h1 {
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #000000;
}

.rehearsal-month-section {
    margin-bottom: 40px;
}

.rehearsal-month-section h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #000000;
}

.rehearsal-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.rehearsal-card {
    position: relative;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 250px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.rehearsal-card:hover {
    background-color: #f9f9f9;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: red;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.delete-button:hover {
    color: darkred;
}
.rehearsal-card p {
    margin: 10px 0;
    color: #333;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal h2 {
    margin-top: 0;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal form label {
    margin-bottom: 10px;
}

.modal form button {
    margin-top: 10px;
}

.edit-delete-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.edit-button, .delete-button {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.edit-button:hover, .delete-button:hover {
    text-decoration: none;
    color: #007bff;
}