.filter-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-button:hover {
    background-color: #333;
}

.filter-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    z-index: 999;
    height: 100px;
    width: 600px;
}

.filter-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filter-option {
    flex: 1;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.filter-option:last-child {
    margin-right: 0;
}

.filter-option:hover {
    background-color: #333;
}

.close-filter-window {
    display: block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.close-filter-window:hover {
    background-color: #333;
}