.page {
    max-width: 1500px;
    margin: 0 auto 20px;
    padding: 110px 20px 20px;
}

.singer-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.singer-card {
    display: flex;
    width: 100%;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 12px 14px rgba(0, 0, 0, 0.3);
}

.left-singer-card {
    flex: 1;
}

.right-singer-card {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.singer-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.top-singer-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link-add {
    display: flex;
    text-decoration: none;
    color: #121111;
    border: 1px solid #121111;
    align-items: center;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    transition: 0.2s;
    background-color: white;
}

.link-add:hover {
    color: #B90000;
    font-weight: bold;
}
