.page {
    max-width: 1500px;
    margin: 0 auto 20px;
    padding: 110px 20px 20px;

}

.singer-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.singer-card {
    display: flex;
    width: 100%;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
    border: black 1px solid;
    cursor: pointer;
}

.left-singer-card {
    flex: 1;
}

.right-singer-card {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.singer-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
